<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chillinker</title>
    <link rel="stylesheet" href="/css/style.css" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
    </style>
    <script
      src="https://kit.fontawesome.com/0b832ce4c1.js"
      crossorigin="anonymous"
    ></script>
    <link
      rel="icon"
      type="image/png"
      sizes="16×16"
      href="/logo_image/favicon-16x16.png"
    />
  </head>
  <body>
    <header>
      <div class="inner_header">
        <img
          class="logo_image"
          src="/logo_image/chillinker_logo(2).png"
          href="#"
        />
        <h1 class="logo">
          <a href="#">Chillinker</a>
        </h1>
        <div class="header_right">
          <div class="search_box">
            <form action="/search" method="get">
              <input
                class="search_text"
                type="search"
                placeholder="작품명, 작가 검색"
                id="search-input"
                name="query"
              />
              <i class="fa fa-search" aria-hidden="true">
                <input
                  type="submit"
                  value="검색"
                  id="search"
                  class="submit_btn"
              /></i>
            </form>
          </div>
          <ul>
            <li><a href="#">마이페이지</a></li>
          </ul>
        </div>
      </div>
    </header>
    <main></main>
    <footer>
      <ul>
        <li>
          <a href="https://github.com/choobao/chillinker">
            <i class="fa fa-github" aria-hidden="true"></i>
          </a>
        </li>
      </ul>
      <p>Copyright © 2024 회빙환. All rights reserved.</p>
    </footer>
  </body>
</html>
