<body>
  <div class="review-container">
    <div class="review-info-sedtion">
      <div class="review-input-left"></div>
      <div class="review-input-right"></div>
    </div>
    <div class="review-list-wrapper">
      <ul>
        <li class="review-list"></li>
      </ul>
    </div>
  </div>
</body>
