<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chillinker following list</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/following.css" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
      </style>
      <script
        src="https://kit.fontawesome.com/0b832ce4c1.js"
        crossorigin="anonymous"
      ></script>
</head>
<body>
    <div class="wrap">
        <header>
          <div class="inner_header">
            <h1 class="logo">
              <a href="#">Chillinker</a>
            </h1>
            <div class="header_right">
              <div class="search_box">
                <form action="#" method="get">
                  <input class="search_text" type="search" placeholder="작품명, 작가 검색" />
                  <i class="fa fa-search" aria-hidden="true">
                  <input type="submit" value="검색" class="submit_btn"/></i>
                </form>
              </div>
              <ul>
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
              </ul>
            </div>
          </div>
        </header>
        <main>
          <div class="inner">
            <div class="following_title">
                <span>팔로잉</span>
            </div>
            <ul class="following_list">
              <% followingList.forEach(function(following) { %>
                <li>
                    <a class="profile_link" href="#">
                        <img src="profile_sample.png" alt="profile image">
                        <span class="name"><%= following.followings_nickname %></span>
                        <span class="intro"><%= following.followings_email %></span>
                    </a>
                    <% if (following.isFollowing) { %>
                      <a class="unfollowing_btn" href="#">언팔로우</a>
                  <% } else { %>
                      <a class="unfollowing_btn" href="#">팔로잉</a>
                  <% } %>
                </li>
                <% }); %>
            </ul>
          </div>
        </main>
        <footer>
          <ul>
            <li>
              <a href="https://github.com/choobao/chillinker"
                ><i class="fa fa-github" aria-hidden="true"></i
              ></a>
            </li>
          <p>Copyright © 2024 회빙환. All rights reserved.</p>
        </footer>
      </div>
    </body>
</html>