<footer>
  <ul>
    <li>
      <a href="https://github.com/choobao/chillinker"
        ><i class="fa fa-github" aria-hidden="true"></i
      ></a>
    </li>
  </ul>
  <p>Copyright © 2024 회빙환. All rights reserved.</p>
</footer>
<button class="top_btn" id="top-btn">↑</button>
<script>
  $(document).ready(function () {
    // Top 버튼 특정 스크롤높이에서만 보이기 / 숨기기
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $('#top-btn').fadeIn();
      } else {
        $('#top-btn').fadeOut();
      }
    });

    // Top 버튼 클릭시 페이지 상단으로 이동
    $('#top-btn').click(function () {
      $('html, body').animate({ scrollTop: 0 }, 800);
      return false;
    });
  });
</script>
