<footer>
    <ul>
      <li>
        <a href="https://github.com/choobao/chillinker"
          ><i class="fa fa-github" aria-hidden="true"></i
        ></a>
      </li>
    <p>Copyright © 2024 회빙환. All rights reserved.</p>
  </footer>