<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="/css/frame.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
  <link
    rel="icon"
    type="image/png"
    sizes="16×16"
    href="/logo_image/favicon-16x16.png"
  />
</head>

<body>
  <div class="container-wrapper">
    <%- include('header.ejs') %>
    <div class="register-wrapper">
      <!-- <h2>Sign Up</h2> -->
      <p>* 이메일, 비밀번호는 추후 변경하실수 없습니다.</p>
      <form method="post" action="/users/register" id="register-form">
        <label class="profile-update-img-label">
          <img
            src="/logo_image/chillinker_logo(2).png"
            alt="프로필사진"
            class="profile-update-img" />
          <input
            type="file"
            id="profile-register-img-input"
            name="profileImage"
            accept="image/*"
            style="display: none" /></label
        ><br />
        <input type="text" name="nickname" placeholder="닉네임" required />
        <input type="text" name="intro" placeholder="소개글" />
        <input type="email" name="email" placeholder="이메일" required />
        <input
          type="birthDate"
          name="birthDate"
          placeholder="생년월일 형식은 YYYY-MM-DD 입니다."
        />
        <input
          type="password"
          name="password"
          placeholder="비밀번호"
          required
        />
        <input
          type="password"
          name="confirmPassword"
          placeholder="비밀번호 확인"
          required
        />
        <input type="submit" value="회원가입" />
      </form>
    </div>

    <%- include('footer.ejs') %>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/register.js"></script>
</body>
