/***
    The new CSS reset - version 1.8.5 (last updated 14.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" attribute is exclud, because otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */

*:where(
    :not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)
  ) {
  all: unset;
  display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a,
button {
  cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol,
ul,
menu {
  list-style: none;
}

/* For images to not be able to exceed their container */
img {
  max-inline-size: 100%;
  max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
  border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input,
textarea {
  -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
  white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
  -webkit-appearance: revert;
  appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
  all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
  color: unset;
}

/* remove default dot (•) sign */
::marker {
  content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
  display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element */
:where([contenteditable]:not([contenteditable='false'])) {
  -moz-user-modify: read-write;
  -webkit-user-modify: read-write;
  overflow-wrap: break-word;
  -webkit-line-break: after-white-space;
  -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable='true']) {
  -webkit-user-drag: element;
}

/* Revert Modal native behavior */
:where(dialog:modal) {
  all: revert;
}

/*rayout*/
body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 16px;
  padding-top: 90px;
  height: 100%;
}
main {
  min-height: calc(100vh - 200px);
}
.wrap {
  width: 100%;
  overflow: hidden;
  /* height: auto; */
  min-height: 100%;
}

main .inner {
  width: 1200px;
  margin: auto;
}

/*header*/
header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  background: #e6e6fa;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  z-index: 10;
}
.inner_header {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.inner_header .logo_image {
  margin-right: 10px;
  width: 50px;
  height: 50px;
  object-fit: cover;
  max-width: 50px;
  max-height: 50px;
}
.inner_header h1 {
  /* font-size: 40px;
    font-family: 'Sriracha', cursive;
    color: #7b62cc;
    font-weight: 400; */
  /* padding: 10px 0; */
  width: 150px;
}
.inner_header h1 a {
  display: block;
  margin-top: 10px;
}
.inner_header h1 a:hover {
  /* color: #6a5acd; */
}

.inner_header h1 a .logo_text {
}

.inner_header .header_right {
  display: flex;
  margin-left: auto;
  padding-top: 20px;
}

.inner_header .search_box {
  margin-right: 50px;
}
.inner_header .search_box form input[type='search'] {
  color: #999;
  background-color: #fff;
  font-size: 12px;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.inner_header .search_box form input[type='submit'] {
  display: none;
}
.inner_header .search_box form i {
  cursor: pointer;
}
.inner_header .search_box form i:hover {
  color: #6a5acd;
}

.inner_header ul {
  bottom: 15px;
  display: flex;
  margin-left: auto;
}
.inner_header ul li {
  margin: 0 20px;
  font-size: 16px;
  font-weight: 400;
}
.inner_header ul li a {
  display: block;
  text-decoration: none;
}
.inner_header ul li a:hover {
  color: #6a5acd;
}

/*footer*/
footer {
  width: 100%;
  min-height: 200px;
  background: #e6e6fa;
  overflow: hidden;
}
footer ul {
  text-align: center;
  padding-top: 100px;
  font-size: 20px;
}
footer ul li {
  display: inline;
  margin: 0 10px;
}

footer p {
  font-size: 12px;
  text-align: center;
  padding: 20px 0;
  margin-top: 20px;
}

.top_btn {
  display: none;
  margin: auto;
  position: fixed;
  bottom: 30px;
  right: 25px;
  width: 50px;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #a386ffb9;
  border-radius: 50%;
  color: #fff;
}

button {
  cursor: pointer;
}

/* 네비게이션 바 */
.main-nav {
  width: 100%;
  background-color: #a791ff;
  margin: 0;
  padding: 0;
}

.main-nav > ul {
  width: max-content;
  margin: auto;
  display: flex;
}

.main-nav > ul > span {
  color: white;
  margin: auto 0;
}

.main-nav > ul > li {
  padding: 8px 20px 8px 20px;
  margin: auto 0;
  cursor: pointer;
  text-align: center;
}

.main-nav > ul > li > a {
  text-align: center;
  color: white;
}
