/* login, register */

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.login-wrapper,
.register-wrapper,
.mypage-wrapper {
  margin: 40px auto;
  width: 300px;
  box-sizing: border-box;
  position: relative;
}

.login-wrapper > h2,
.register-wrapper > h2 {
  font-size: 24px;
  color: #7b68ee;
  margin-bottom: 20px;
  text-align: center;
}

.mypage-wrapper {
  font-size: 24px;
  color: #7b68ee;
  text-align: center;
}

input[type='checkbox'] {
  all: revert;
}

#login-form > input,
#register-form > input,
#profile-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

#login-form > input::placeholder,
#register-form > input::placeholder,
#profile-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type='submit'],
#register-form > input[type='submit'],
#profile-form > input[type='submit'] {
  color: #fff;
  font-size: 16px;
  background-color: #7b68ee;
  margin-top: 20px;
  text-align: center;
}

body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  overflow: auto;
}

footer {
  margin-top: auto;
}

/* mypage */
.profile-btn {
  width: 200px;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #7b68ee;
  color: #fff;
  font-size: 14px;
}
.profile-btn-small {
  width: 97px;
  height: 48px;
  padding: 0 16px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #7b68ee;
  color: #fff;
  font-size: 14px;
}

.profile-btn:hover,
.profile-btn-small:hover {
  background-color: #e6e6fa;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-intro {
  font-size: 14px;
}

#profile-edit-btn {
  position: absolute; /* 절대 위치 설정 */
  top: 0; /* 위쪽 경계에서부터의 위치 */
  right: 10px; /* 오른쪽 경계에서부터의 위치 */
  margin-right: 40px; /* 우측 패딩 고려 */
  margin-top: 1px; /* 상단 패딩 고려 */
}

#adult-verify-btn {
  position: absolute; /* 절대 위치 설정 */
  top: 27px; /* 위쪽 경계에서부터의 위치 */
  right: 10px; /* 오른쪽 경계에서부터의 위치 */
  margin-right: 40px; /* 우측 패딩 고려 */
  margin-top: 1px; /* 상단 패딩 고려 */
}

/* profile edit */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 10px;
  border: 1px solid #e6e6fa;
  width: 40%;
  position: relative;
  height: auto;
}

/* 닫기 버튼 스타일 */
.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 0;
  right: 10px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: #7b68ee;
  cursor: pointer;
}

/* 폼 요소 스타일 */
.modal > form {
  margin-top: 20px;
}

textarea#intro {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.profile-update-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.profile-update-img-label:hover {
  filter: grayscale(90%);
}
