/*rayout*/
body {
  font-family: 'IBM Plex Sans KR', sans-serif;
  font-size: 16px;
  padding-top: 90px;
  height: auto;
}

body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

p {
  color: #a9a7a7;
  margin: 20px auto;
  width: fit-content;
}

.profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-update-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  opacity: 0.5;
}

.profile-update-img-label:hover {
  filter: grayscale(90%);
}

@media (max-width: 768px) {
  .inner_header {
    flex-direction: column;
    height: auto;
    padding: 10px;
  }

  .inner_header h1 {
    margin: 10px 0;
  }

  .inner_header .header_right,
  .inner_header ul {
    flex-direction: column;
    align-items: center;
  }

  .login-wrapper,
  .register-wrapper,
  .mypage-wrapper {
    width: 90%;
    padding: 15px;
  }
}

.container-wrapper {
  min-height: max-content;
  box-sizing: border-box;
  padding-top: 10px;
}

footer {
  height: 200px;
  width: 100%;
}

.login-wrapper,
.register-wrapper,
.mypage-wrapper {
  margin: 90px auto 200px;
  width: 300px;
  box-sizing: border-box;
  position: relative;
}

.login-wrapper > h2,
.register-wrapper > h2,
.mypage-wrapper {
  font-size: 24px;
  color: #7b68ee;
  margin-bottom: 20px;
  text-align: center;
}

input[type='checkbox'] {
  all: revert;
}

#login-form > input,
#register-form > input,
#profile-form > input {
  width: 100%;
  height: 48px;
  padding: 0 10px;
  box-sizing: border-box;
  margin-bottom: 16px;
  border-radius: 6px;
  background-color: #f8f8f8;
}

#login-form > input::placeholder,
#register-form > input::placeholder,
#profile-form > input::placeholder {
  color: #d2d2d2;
}

#login-form > input[type='submit'],
#register-form > input[type='submit'],
#profile-form > input[type='submit'] {
  color: #fff;
  font-size: 16px;
  background-color: #7b68ee;
  margin-top: 20px;
  text-align: center;
}
