.top-title {
  font-weight: 500;
  color: #7b68ee;
  font-size: 22pt;
  margin: 20px 0;
  padding: 5px 20px;
  width: max-content;
}

.category ul li {
  display: inline-block;
  margin: 40px 10px;
}
.category ul li a {
  background-color: #e6e6fa;
  padding: 10px;
  border-radius: 5px;
  display: block;
  width: 100px;
  text-align: center;
}
.category select option span {
  display: none;
}

.content {
  display: inline-block;
  margin: 30px;
}
.content img {
  width: 170px;
  height: 240px;
  object-fit: cover;
  border-radius: 10px;
}
.content .bottom_box {
  padding: 10px;
}
.content .bottom_box .title {
  display: block;
  width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.content .bottom_box .rate {
  font-size: 13px;
}

.empty_contents {
  font-size: 36px;
  color: #aaa;
  text-align: center;
  margin-top: 150px;
}
