.top-review-list-container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  /* height: 1600px; */
  flex-direction: column;
  margin-bottom: 70px;
}

.profile-img {
  float: left;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

.paginnation-wrapper {
  margin-bottom: 70px;
}

.reviewer-id-and-rate {
  display: flex;
  justify-content: space-between;
  padding-right: 10px;
}

.review-content-web-info-container {
  padding: 12px 0px 16px;
  display: flex;
}

.webContent-info-container {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 468px;
}

.css-line {
  background: rgb(237, 237, 237);
  height: 1px;
  border: none;
  margin: 10px 0px;
}

.webContent-title-info {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0px;
  line-height: 22px;
  color: rgb(20, 20, 20);
  margin: 0px 0px 4px;
}

.webContent-img {
  float: left;
  width: 100px;
  margin: 10px;
}

.review-card {
  background: rgb(255, 255, 255);
  box-sizing: border-box;
  width: 640px;
  padding: 15px 15px 9px;
  border: 1px solid rgb(224, 224, 224);
  border-radius: 8px;
  margin: 15px;
}

.top-review-section {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  align-items: center;
}

.head-title {
  background: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0px;
  line-height: 30px;
  color: rgb(41, 42, 50);
  padding: 12px 0px 14px;
  display: flex;
  margin: 0 auto;
  width: 700px;
  margin-top: 30px;
}

.search_btn_bar {
  display: flex;
  margin: 0 auto;
  width: 700px;
  margin-bottom: 20px;
}
