<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Chillinker</title>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
  />
  <link rel="stylesheet" href="/public/css/collection_modal.css" />
  <style>
    @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@100;200;300;400;500;600;700&family=Sriracha&display=swap');
  </style>
  <script
    src="https://kit.fontawesome.com/0b832ce4c1.js"
    crossorigin="anonymous"
  ></script>
</head>

<body>
  <div class="collection_modal">
    <span class="close">&times;</span>
    <h3 class="modal_title">컬렉션 컨텐츠 삭제</h3>
    <div class="modal_content">
      <form name="delete_collection_form" method="post">
        <ul class="delete_collection_list">
          <li>
            <label for="title">컬렉션 제목</label>
            <input type="submit" value="삭제" />
          </li>
        </ul>
        <div class="btn_area">
          <input type="submit" value="완료" />
          <button class="cancel_btn">취소</button>
        </div>
      </form>
    </div>
  </div>

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="/js/mypage-update.js"></script> -->
</body>
